%tr
  %td= skill.name
  %td
    = link_to edit_skill_path(skill) do
      %i.glyphicon.glyphicon-pencil
  %td
    = link_to skill_path(skill), method: :delete, data: { confirm: 'Are you sure?' } do
      %i.glyphicon.glyphicon-trash
