.row
  .col-sm-8
    %h2 Skills
  .col-sm-4
    %h2
      = link_to 'Add Skill', new_skill_path, class: 'btn btn-primary float-right'
.row.skills
  - if @skills.empty?
    %p.empty= 'No skills yet...'
  - else
    %table.table.table-striped
      %thead
        %tr
          %td Name
          %td Edit
          %td Destroy
      %tbody
        = render @skills
